<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
 <servlet>
 	<servlet-name>validationServlet</servlet-name>
 	<servlet-class>com.servlets.ValidationServlet</servlet-class>
 	
 	<init-param>
 		<param-name>Name</param-name>
 		<param-value>Imran</param-value>
 	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>validationServlet</servlet-name>
 	<url-pattern>/validation</url-pattern>
 </servlet-mapping>

  <servlet>
 	<servlet-name>helloServlet</servlet-name>
 	<servlet-class>com.servlets.HelloServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>helloServlet</servlet-name>
 	<url-pattern>/hello</url-pattern>
 </servlet-mapping>
 
  <context-param>
 	<param-name>Name</param-name>
 	<param-value>Imran</param-value>
 </context-param>
</web-app>